
<!-- success flash -->
<% if(success && success.length) { %>
    <div role="alert" class="text-center col-6 offset-3 alert alert-success alert-dismissible fade show" >
        <%= success %>

        <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>    


<!-- this is error flssh -->
<% if(error && error.length) { %>
    <div role="alert" class="text-center col-6 offset-3 alert alert-danger alert-dismissible fade show" >
        <%= error %>

        <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 